body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #edf0e9;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

/* Homepage */
.home-container {
  /* background-image: url("./assets/backgrounds/testbackground.jpg"); */
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(50%);
}

.logo-long {
  width: 410px;
  /* height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; */
}
.logo-main {
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}

.home-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-links-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.social-links a img {
  width: 35px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
}

/* NavBar */
.nav {
  margin-left: 10px;
}

.nav-logo {
  width: 100px;
  height: auto;
}

.nav a {
  font-size: 20px;
  color: black;
}


/* Footer */
