.admin-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.admin-title {
  margin-left: 20px;
  /* margin-bottom: 30px; */
  /* width: 50%; */
}

.admin-nav {
  /* margin-right: 3%; */
  /* background-color: red; */
  /* width: 200px; */
  /* height: 1000px; */
  display: inline-flex;
}

.admin-nav-toggle {
  /* transform: translateX(90%); */
  top: -20%;
  left: 85%;
  position: absolute;
}

/* .admin-navbar {
  list-style-type: none;
  flex-direction: column;
}
.admin-navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}
.admin-navbar a li {
  margin-bottom: 20px;
} */

/* Product management */
.admin-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-product {
  height: 500px;
}

.add-product-sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-input {
  width: 50%;
}
.add-product-input-price {
  width: 15%;
}

@media only screen and (max-width: 600px) {
  .admin-container {
    flex-direction: column;
  }

  .admin-title {
    width: 100%;
  }

  .admin-nav {
    width: 100%;

  }

  .admin-navbar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .admin-navbar a {
    font-size: 14px;
  }
  .admin-navbar a li {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;

  }

  /* Product management */
  .add-product-input {
    width: 100%;
  }
  .add-product-input-price {
    width: 35%;
  }
}