.cartImageComponent{
    /* width: 140px; */
    height: 170px;
}
.cartItemDetails{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cartItemHeight{
    height: 175px;
}

.cartListWidth{
    width: 40%;
}

@media screen and (max-width: 900px) {
    .cartListWidth{
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .cartListWidth {
        width: 95%;
    }
    .cartImageComponent{
        height: 150px;
        width: auto;
       
    }
 
}

