.cartImageComponent{
    width: 140px;
}
.cartContainer{
    width: 50%;
}
.cartItemDetails{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media screen and (max-width: 900px) {
    .cartContainer{
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .cartImageComponent{
        /* margin: 10%; */
        width: 100%;
       
    }
 
}

