@font-face {
  font-family: SegoeUIBold;
  src: url('../assets/fonts/segoe-ui-bold.woff');
}

@font-face {
  font-family: FuturaPTHeavy;
  src: url('../assets/fonts/Futura\ PT\ Heavy.ttf');
}

@font-face {
  font-family: FuturaCondPTMed;
  src: url('../assets/fonts/futura-condensed-pt-medium-589e44ed1e3a5.woff');
}

@font-face {
  font-family: FuturaBook;
  src: url('../assets/fonts/futura-book-webfont.woff2');
}

/* Main */
body {
  margin: 0;
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #edf0e9;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

.btns {
  border-radius: 8px;
  background-color: white;
}
.btns:hover {

}

.price {
  font-family: FuturaCondPTMed;
}

/* Homepage */
.home-container {
  z-index: 1;
}

.home-pic-left {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  /* transform: translateY(-25%); */
  z-index: -1;
  opacity: .7;
  filter: saturate(1.5);
}
.home-pic-right {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  /* transform: translate(100%, -28%); */
  transform: translateX(100%);
  z-index: -1;
  opacity: .7;
  filter: saturate(1.5);
}
.home-pic-phone {
  display: none;
}

.logo-main {
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}

.home-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(50%);
}

.home-image-link {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.home-links-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: .2s ease;
}
.home-links:hover {
  color: blueviolet;
}

.social-links a img {
  width: 32px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
  transition: .1s ease;
}
.social-links a img:hover {
  filter: invert(21%) sepia(72%) saturate(7472%) hue-rotate(270deg) brightness(95%) contrast(87%);
}

/* NavBar */
.logo-long {
  width: 410px;
}

.logo-small {
  width: 90px;
}

.nav-logo { 
  /* margin-left: 10%;
  margin-right: 10%; */
  margin-left: 25%;
  margin-right: 25%;
}

.nav-width {
  width: 300px;
}

a.nav-link {
  font-size: 18px;
  font-weight: 600;
  color: black;
  font-family:'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-icon {
  width: 28px;
}
.menu-icon:hover {
  cursor: pointer;
}

#profile-phone {
  display: none;
}

.main-nav-left {
  margin-left: 100px;
  display: inline-flex;
  justify-content: space-around;
}
.main-nav-right {
  margin-right: 100px;
  display: inline-flex;
  justify-content: space-around;
}
.main-nav-items {
  margin-left: 2%;
  margin-right: 2%;
}

/* Footer */
.footer-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-space {
  margin-top: 25px;
}

.footer-terms,
.footer-about {
  text-decoration: none;
  color: white;
  transition: .2s ease;
}
.footer-terms:hover,
.footer-about:hover {
  color: blueviolet;
}

.footer-socials {
  width: 25px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
  transition: .1s ease;
  color: white;
}
.footer-socials:hover {
  filter: invert(21%) sepia(72%) saturate(7472%) hue-rotate(270deg) brightness(95%) contrast(87%);
}

@media only screen and (max-width: 600px) {
  /* Homepage */
  .home-pic-left {
    display: none;
  }
  .home-pic-right {
    /* width: 100%;
    transform: translateX(0); */
    display: none;
  }
  .home-pic-phone {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    transform: translate(0, -1%);
    /* transform: translateX(0); */
    z-index: -1;
    opacity: .7;
    filter: saturate(1.5);
    zoom: 105%;
  }

  .home-intro {
    transform: translateY(40%);
  }

  .logo-main {
    width: 200px;
  }

  /* NavBar */
  .logo-long {
    /* position: absolute; */
    width: 210px;
  }
  .nav-logo {
    margin-left: 25%;
    margin-right: 25%;
  }

  .nav-width {
    width: auto;
  }
  /* .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 5%;
    margin-top: 18px;
  } */
  
  /* .navbar-nav {
    margin-left: -5px;
  }
  /* #cart {
    margin-right: -5px;
  } */ */

  .nav {
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-top: 0px;
  }
  
  .nav a {
    font-size: 20px;
    font-weight: 600;
    color: black;
  }

  /* .main-nav-right {
    margin-right: 4%;

  } */

  .main-nav-items {
    margin-left: 2%;
  }

  #profile-fullscreen {
    display: none;
  }

  #profile-phone {
    display: block;
  }

  .inline {
    display: inline-flex;
  }
 
  /* Footer */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 60px;
  }
  .footer-space {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-socials {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 991px) {
  /* NavBar */
  .nav-width {
    width: auto;
  }
  .inline {
    display: inline-flex;
  }
  #profile-fullscreen {
    display: none;
  }

  #profile-phone {
    display: block;
  }
  
  /* #cart{
    position: inherit;
    margin-left: 4%;
  }

  #logout{
    position: inherit;
    margin-left: 4%;
  }

  #profile{
    position: inherit;
    margin-left: 4%;
  } */

  

}

@media only screen and (max-width: 1270px) {
  .nav-width {
    width: auto;
  }
  .main-nav-items {
    margin-left: 4%;
  }

}