/* Pages */
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.dropdown button {
  font-size: 130%;
}
.page-title {
  margin-top: 5px;
  margin-left: 5px;
}


@media only screen and (max-width: 600px) {
  .page-header {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .page-title {
    margin-top: 8px;
  }

  /* Single Product */
  .single-product-container {
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    width: 350px;
  }
  .product-info {
    margin-top: 0;
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .product-btns {
    align-items: center;
  }

}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .product-image {
    width: 400px;
  }
  
  .product-description {
    width: 95%;
  }

  .product-info {
    margin-left: 45px;
  }
}