/* .productCard {
} */
.productCard:hover {
    .productImg {
        display: none;
    }
    .productImg2 {
        display: block;
    }
}

.productImg {
    height: 35vh
}
.productImg2 {
    display: none;
}

@media only screen and (max-width: 600px) {
  .productImg {
    height: 25vh;
  }

  .productText {
    font-size: 98%;
  }

}