.shop-dropdown {
  display: flex;
  justify-content: center;
}

.dropdown-values {
  color: white;
}

#productCardContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.productHead {
  background-color: gray;
  /* width: 290px; */
  display: flex;
  justify-content: center;
}
/* .container {
  width: 290px;
} */
/* .grid-container {
  align-content: start;
} */

.productCard {
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCard:hover {
  background-color: black;
  color: white;
  transition: .2s ease-in;
  .productImg {
      display: none;
  }
  .productImg2 {
      display: block;
  }
}

/* .productHead {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} */

.productImg {
  height: 35vh;
}
.productImg2 {
  display: none;
}

@media only screen and (max-width: 600px) {
  .productCard {
    width: 180px;
  }
  .productImg {
    height: 25vh;
  }

  .productText {
    font-size: 98%;
  }

}