.hide{
    display: none;
}

.product-btns {
    transition: 1s;
    transition-timing-function: ease;
}

.single-product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }
  
  .product-image {
    width: 500px;
    height: auto;
  }
  
  .product-info {
    margin-top: 60px;
    margin-left: 70px;
  }
  .product-description {
    text-align: left;
  }
  
  .product-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  label {
    margin-right: 5px;
    font-size: 105%;
    font-weight: 500;
  }
  .product-size {
    width: 175px;
    margin-bottom: 15px;
  }
  .cart-btn {
    width: 175px;
    height: 35px;
  }

  @media only screen and (max-width: 600px) {
    .single-product-container {
      flex-direction: column;
      align-items: center;
    }
    
    .product-image {
      width: 350px;
    }
    .product-info {
      margin-top: 0;
      margin-left: 0;
      align-items: center;
      text-align: center;
    }
  
    .product-btns {
      align-items: center;
    }
  
  }
  
  @media only screen and (min-width: 601px) and (max-width: 991px) {
    .product-image {
      width: 400px;
    }
    
    .product-description {
      width: 95%;
    }
  
    .product-info {
      margin-left: 45px;
    }
  }