.hide{
    display: none;
}

.product-btns {
    transition: 1s;
    transition-timing-function: ease;
}

.single-product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }
  
  .product-image {
    width: 400px;
    height: auto;
  }
  
  .product-info {
    /* margin-top: 60px;
    margin-left: 70px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-collection-name {
    background-color: black;
    color: white;
    padding: 3px;
    max-width: fit-content;
  }

  .product-description {
    text-align: left;
  }
  
  .product-btns {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  label {
    margin-right: 5px;
    font-size: 105%;
    font-weight: 500;
  }
  .product-size {
    width: 175px;
    margin-bottom: 15px;
  }

  .add-to-cart {
    position: relative;
    transform: translate(105%, -100%);
  }

  .cart-btn {
    width: 230px;
    height: 38px;
    background-color: white;
    transition: .3s ease;
  }
  .cart-btn:not(:disabled):hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  /* Sizes */
  .product-price-sm {
    display: none;
  }

  .size-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-top: 10px; */
    justify-content: center;
  }
  
  .size-box {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    background-color: white;
  }
  .size-box:hover {
    background-color: black;
    color: white;
  }
  .size-box.disabled {
    pointer-events: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
  } 
  .size-box.selected {
    background-color: black;
    color: white;
    border-color: black;
  }

  @media only screen and (max-width: 600px) {
    .single-product-container {
      flex-direction: column;
      align-items: center;
    }
    
    .product-image {
      width: 350px;
    }

    .product-info {
      margin-top: 0;
      margin-left: 0;
      align-items: center;
      text-align: center;
    }
  
    .product-btns {
      align-items: center;
      margin-top: 25px;
    }

    .product-price-sm {
      display: block;
    }
    .product-price-lg {
      display: none;
    }

    .add-to-cart {
      transform: none;
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 991px) {
    .product-image {
      width: 400px;
    }
    
    .product-description {
      width: 95%;
    }
  
    .product-info {
      margin-left: 45px;
    }
  }